@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');.cardDiv{
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  background-color: white;
}
body{
  background:radial-gradient(white, lightpink, rgb(254, 153, 170), hotpink, purple, blueviolet);
  font-family: 'Kalam', cursive;
}
.hello{
  padding: 50px;
} 
